
nav{
    border-radius: 5px;
}
.lefooter{
	
	text-align: center;
	/*background-color:#fdfbf8;*/
	font-size:28px;
	height: 30px;
	align-content: center;
	
}
.lefooter a{
	color: #4a4945;
}

.iconImg{
	max-height: 40px;
	height:auto;
	float:left;
	
}
.topcards{
	padding-top: 20px;
	
}
